.menuBar{
    width:inherit;
    position: sticky;
    top:0px;
    background-color: var(--background-color);

    display: flex;
    justify-content: flex-start;

    border-bottom: solid 3px var(--hover-color);
    margin-top: 5px;
    overflow-x:scroll;
}

.menuBar::-webkit-scrollbar{
    display: none;
}

#back{
    top:45px;
}

.listTag{
    font-size: var(--headline);
    color: var(--primary-color);
    text-indent: 10px;
    
    padding: 10px 0px 10px 0px ;
    border-bottom: solid 2px var(--primary-color);
}

.listPerType{
    display: flex;
    justify-content: center;
}


.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding-top: 25px 5% 0px 5%;
}

@media (max-width: 810px){
    
    #back{
        top:40px;
    }

} 
