.tagButton{
    font-size: calc(var(--headline)/var(--golden-ratio));
    background-color: inherit;
    color: var(--hover-color);
    text-wrap:nowrap;
    text-align: center;
    
    border: 0;
    border-right: solid 1px var(--hover-color);
    border-left: solid 1px var(--hover-color);
    
    margin: 5px 0px 5px 0px;
    padding: 0px 4vw 0px 4vw;
}
.tagButton:hover{
    color: var(--primary-color);
    cursor: pointer;
}