*{
    color: aliceblue;
}

header{
    background-color: var(--primary-color);
    padding: 1vh 5px;
    border-bottom-width: 3px;
    border-color: var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.logo{
    height: 60px
}

#tables{
    background-color: var(--button-color);
    border: solid 1px var(--shadow-color);
    height: 40px;
    padding: 5px;
    border-radius: 10%;
}