.menuItemList{

    display: grid;
    grid-template-columns: calc(var(--button)*0.4) auto;
    grid-template-rows: auto auto auto;
    
    width: var(--button);
    height: calc(var(--button)/2);

    background-color: var(--button-color);
    border: solid 10px var(--button-color);
    border-radius: 10%;
    box-shadow:5px 10px 20px var(--shadow-color);

}

a{
    color: inherit;
    text-decoration: none;
    cursor: inherit;
}

.itemPhoto{
    grid-row: 1 /span 3;
    
    height:auto;
    max-height:160px;
    width: calc(var(--button)/3);
    
    border-radius: 10%;
    
    margin-top: auto;
    margin-bottom: auto;
}

.itemName, .itemPrice{
    font-size: calc( var(--headline) / var(--golden-ratio));
}

.itemPrice{
    text-align: right;
    padding: 3px 0px 3px 0px;
}

.itemDescription{
    font-size: calc( var(--headline) / (2*var(--golden-ratio)));
    padding: 3px 0px 3px 0px;
}


@media (max-width: 810px){
    
    .menuItemList{
        width: 180px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .itemName, .itemPrice{
        font-size: calc( var(--headline) / (1.2*var(--golden-ratio)));
    }

    .itemPhoto{
        width: 140px;
        max-height: 180px;
    }

    .itemPrice{
        align-self: flex-end;
    }
    
    .itemDescription{
        align-self: flex-start;
    }

}