main{
    height: 800px; ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.normal, .special, .not-on{
    height: calc(var(--button)/3);
    width: var(--button);
    font-size: var(--headline);
    border-width: 3px;
    border-radius: 10%;
}

.not-on{
    background-color: #333 ;
}

.normal{
    background-color: var(--button-color);
    border-color: var(--border-color);
    color: inherit;
}
.normal:hover{
    height: calc(inherit+3);
    width: calc(inherit+3);
    background-color: var(--primary-color);
}
.normal:active{
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color:  var(--primary-color);
}

.special{
    background-color: var(--primary-color);
    border-color: var(--border-color);
    color: inherit;
}
.special:hover{
    height: calc(inherit+3);
    width: calc(inherit+3);
    border-color: var(--hover-color);
}
.special:active{
    background-color: var(--hover-color);
    color:  var(--primary-color);
}

