<section class="details" *ngIf="item">
    
    <div class="title">
        <p class="titleText">{{item.name}}</p>
    </div>

    <div class="imaging">
        <app-photo class="photo" [item]="item"></app-photo>
        <div class="desc">
            <app-desc  [item]="item">
            </app-desc>
        </div>
    </div>

    <app-details [item]="item"></app-details>

    <div class="end">
        <button class="adder" (click)="addToOrder()">Add to Order</button>
        <button class="checker"[routerLink]="['/order']" >Check Order</button>
    </div>
</section>