
.title, .imaging, .end{
    display: flex;
}

*{
    color: aliceblue;
}

.title{
    justify-content: center;
    margin-top: 15px;
}
.titleText{
    font-size: calc(var(--headline)/var(--golden-ratio));
    width: fit-content;
    border-bottom: solid 1px white;
    margin-top: 10px;
}

.imaging{
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.photo{
    width: 200px;
    height: auto;
    max-height: 250px;
    margin: 0px 5px 0px 15px;
    border: solid 3px var(--border-color);
    border-radius: 20%;
}
.desc{
    height: 120px;
    width: 50%;
    margin-left: 5px;
    text-align: start;
    text-wrap: wrap;
    font-size: calc(var(--headline)/(1.2*var(--golden-ratio)));
}

.end{
    min-height: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.end > button{
    width: 150px;
    height: 50px;
    font-size:calc(var(--headline)/(1.5*var(--golden-ratio))) ;
    border: solid 3px var(--border-color);
}

.adder{
    background-color:var(--primary-color) ;
}

.checker{
    background-color:var(--button-color) ;
}

.end > button:hover{
    cursor: pointer;
    border-color: var(--hover-color);
}

button:active{
    background-color: var(--hover-color);
}
