.menuBar{
    display: flex;
    width:inherit;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: solid 3px var(--border-color);
    overflow-x:scroll;
    margin-top: 5px;
}

.menuBar::-webkit-scrollbar {
    display: none;
  }

.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items{
    justify-content: space-evenly;
}

.listTag{
    font-size: var(--headline);
    color: var(--primary-color);
    border-bottom: solid 2px var(--primary-color);
    padding-top: 10px ;
    padding-bottom: 10px ;
    text-indent: 10px;
}

