
<section class="menuScreen">

    <div class="menuBar">
        <app-menu-bar *ngFor="let type of types" [type]="type"></app-menu-bar>
    </div>

    <div class="menuList">
        <div *ngFor="let type of types">
            <div *ngIf="type !== 'Fries'">
                <div class="listTag" *ngIf="type !== 'Water'">
                    <p id="{{type}}">{{type}}s</p>
                </div> 
            </div>
            <div class="itemList"  >
                <div *ngFor="let item of itemList">
                    <app-item-list class="items" [item]="item" [type]="type"></app-item-list>
                </div>
            </div>
        </div>
    </div>

</section>