
<section class="menuScreen">

    <div class="menuBar">
        <app-menu-bar *ngFor="let type of types" [type]="type"></app-menu-bar>
    </div>

    <div class="menuList">
        <div *ngFor="let type of types">

            <div class="listTag" *ngIf="type !== 'Water' && type !=='Fries'">
                <p id="{{type}}">{{type}}s</p>
            </div> 


            <div class="listPerType">
                <app-item-list class="itemList" [type]="type"></app-item-list>
            </div>

        </div>
    </div>

</section>