* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;  */

}

:root {
  --primary-color: #d31f34;
  --button-color: #242e4998;
  --shadow-color: #171c2f;
  --border-color: #54192d;
  --hover-color: #ffbda7;

  --headline: 45px;
  --golden-ratio: 1.618;
  --button: 40px;

  --menu-multi: calc(1650/411);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover{
  width: 12px;
  cursor: grab;
}

::-webkit-scrollbar-track-piece{
  background: var(--shadow-color);
}

::-webkit-scrollbar-track {
  background: var(--hover-color); 
}

::-webkit-scrollbar-thumb {
  background: var(--border-color); 
  
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
}
  
body {
  height: 100dvh;
  width: 100dvw;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-image: url('/assets/pizzaback.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-blend-mode:darken;
  background-color:var(--button-color);
  color:rgb(240, 255, 255);
  overflow-x: hidden;
} 






@media (max-width: 1670px){
  :root {
    --menu-multi: calc(1235/411);
  }
}

@media (max-width: 1260px){
  :root {
    --menu-multi: calc(822/411);
  }
  
}

@media (max-width: 830px){
  :root {
    --menu-multi: calc(822/261);
    --headline: 40px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}


@media (max-width: 750px){
  :root {
    --menu-multi: calc(700/261);
  }
}

@media (max-width: 610px){
  :root {
    --menu-multi: calc(548/261);
    /* --button: 30px; */
  }
}




  

    