.menuItemList{

    display: grid;
    grid-template-columns: calc(var(--button)*0.4) auto;
    grid-template-rows: auto auto auto;
    
    width: var(--button);
    height: calc(var(--button)/2);

    background-color: var(--button-color);
    border: solid 10px var(--button-color);
    border-radius: 10%;
    box-shadow:5px 10px 20px var(--shadow-color);
    
    margin: 15px 20px 15px 20px;

}

.itemPhoto{
    grid-row: 1 /span 3;
    
    max-height:calc(var(--button)/2) ;
    width: calc(var(--button)/3);
    
    border-radius: 10%;
    
    margin-top: auto;
    margin-bottom: auto;
}

.itemName, .itemPrice{
    font-size: calc( var(--headline) / var(--golden-ratio));
}

.itemPrice{
    text-align: right;
}

.itemDescription{
    font-size: calc( var(--headline) / (2*var(--golden-ratio)));
}
